.completed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.complete {
    margin: 1rem;
    padding: 1rem;
    background-color: #c2e3e7;
    border: 1px #0da5b6 solid;
    opacity: 85%;
    width: 15rem;
    height: auto;
    border-radius: 0.5rem;
}

.complete__header { 
    font-size: large;
    font-weight: bold;
}