.home__page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.logo {
    padding-top: 2rem;
    width: 25rem;
    height: 25rem;
}

.welcome {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #5151bf;
}

