.dive__requests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.request {
    /* border: 1px solid aqua; */
    margin: 1rem;
    padding: 1rem;
}

.request__header {
    font-size: large;
    font-weight: bold;
}