.all-assigned {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.assigned_list {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
}

.assigned {
    margin: 1rem;
    padding: 1rem;
    background-color: #c2e3e7;
    opacity: 85%;
    width: 15rem;
    height: 8rem;
    border-radius: 0.5rem;
    border: 1px #0da5b6 solid;
}

.assigned__header {
    font-size: large;
    font-weight: bold;
}

.client_list {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
}

.client_list_name {
    text-align: left;
    text-decoration: none;
}

.clientList {
    flex: .75;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2e3e7;
    border: 1px #0da5b6 solid;
    border-radius: 0.5rem;
    line-height: 3;
    padding: 1rem;
    margin: 1rem;
}
