.all-assigned {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.assigned {
    margin: 1rem;
    padding: 1rem;
    background-color: #c2e3e7;
    opacity: 85%;
    width: auto;
    height: auto;
    border-radius: .25rem;
}

.assigned__header {
    font-size: large;
    font-weight: bold;
}