.divesites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site {
    margin: 1rem;
    padding: 1rem;
    background-color: #c2e3e7;
    opacity: 85%;
    border-radius: .5rem;
    border: 1px #0da5b6 solid;
}

.site__header {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: #07484e;
    
}

.photos {
    width: 22rem;
    height: 22rem;
    border-radius: .5rem;
    border: 1px solid #0da5b6;
}


/* dive form */
.label {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 1rem;
}

.siteForm {
    padding: 1rem 0 1rem 3rem;
    background-color: #c2e3e7;
    opacity: 85%;
    height: auto;
    border-radius: 0.5rem;
    display: inline-block;
    text-align: left;
    margin: 1rem auto;
    width: 50rem;
    border: 1px #0da5b6 solid;
   
}

.form-control-site {
    display: block;
    padding: .5rem .75rem;
    width: 45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: 0.5rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;   
}

.siteForm__title{
    text-align: center;
}

.btn-ds {
    padding: 0.25rem;
    margin: 0.5rem 1rem 0 0;
}

/* flipcards */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect, removed border */
.flip-card {
    background-color: transparent;
    width: 22rem;
    height: 22rem;
    perspective: 1000px;

}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 22rem;
    height: 22rem;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    border-radius: 0.5rem;
    position: absolute;
    width: 22rem;
    height: 22rem;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 0 0.25rem;
    width: 21.5rem;
    height: 22rem;
}